Python has five standard data types.


1.   Numbers
2.   Strings
3.   Tuple
4.   List
5.   Dictionaries

In [ ]:
#assigning values to variables
name = 'Ann'
no_stu = 150
temp = 13.98
print(name)
print(no_stu)
print(temp)

In [ ]:
#List
List_1 = [1,2,3,4,5,6,7,8,9,10]
List_2 = list(range(0,20))
List_3 = [x for x in range(10)]
print(List_1);
print(List_2)
print(List_3)

In [ ]:
l1 = [1,2,3]
l2 = list(range(0,30))
l3 = [z for z in range(15)]
print(l1)
print(l2)
print(l3)

In [ ]:

#Loops
#print the odd numbers in  List_1
for i in List_1:
  if i%2 != 0:
    print(i)

In [ ]:
#print odd numbers in l1
for a in l2:
  if a%2 ==1:
    print(a)

In [ ]:
#print the even numbers in List_2
for a in List_2:
  if a%2 == 0:
    print(a)

In [ ]:
#while loop
k = 0;
while k < len(List_3):
  if List_3[k] %2 != 0:
    print (List_3[k])
  k+=1

In [ ]:
u = 0;
while u < len(l2):
  if l2[u] %2 != 0:
    print(l2[u])
  u+=1

In [11]:
#list comprehensions to return a list
l4 = [z for z in l3 if z%2 != 0]
print(l4)

[1, 3, 5, 7, 9, 11, 13]

In [12]:
l5 = [x for x in [x**2 for x in range(7)] if x%2 !=0]
print(l5)

[1, 9, 25]

In [15]:
ls7 = [x**2 for x in range(10)]
print(ls7)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
l6 = [z for z in [z **2 for z in range(10)] if z%2 !=0]
print(l6)

[1, 9, 25, 49, 81]

In [16]:
ls8 = [v for v in ls7 if v%2 !=0]
print(ls8)

[1, 9, 25, 49, 81]

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [f for f in fruits if "a" in f]
print(newlist)

['apple', 'banana', 'mango']

In [21]:
nlist = [x for x in range(10) if x < 5]
print(nlist)

[0, 1, 2, 3, 4]

In [23]:
#The expression is the current item in the iteration, but it is also the outcome,
# which you can manipulate before it ends up like a list item in the new list:

nel = [x.upper() for x in fruits]
print(nel)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [25]:
#The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome
newli = [x if x != "banana" else "orange" for x in fruits]
print(newli)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [26]:
#functions
def myfunction():
  print("Hello this is myfunction result.")

#calling to a function
myfunction();

Hello this is myfunction result.

In [30]:
def myName(fname):
  print(fname + " Peiris")

#calling function
myName("Ironi")
myName("Jane")
myName("Sam")

Ironi Peiris
Jane Peiris
Sam Peiris

In [ ]:
#A parameter is the variable listed inside the parentheses in the function definition.

#An argument is the value that is sent to the function when it is called.

In [32]:
def makeListofOddNum(n):
  li1 =[x for x in [x**2 for x in range(n)] if x%2 !=0];
  print(li1)

In [33]:
makeListofOddNum(5)

[1, 9]

In [36]:
a = ['I','like','cookies']
b = [i if i != "cookies" else "apples" for i in a]
print(a)
print(b)

['I', 'like', 'cookies']
['I', 'like', 'apples']

In [37]:
d1 = {x : x**2 for x in range(7)}
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [38]:
vals=list(d1.values())
vals

[0, 1, 4, 9, 16, 25, 36]

In [43]:
a = [0,1,2,3,4,5]
a[::-1]

[5, 4, 3, 2, 1, 0]

In [45]:
xcoors=[0,1,2,3,4,5]
ycoors=[6,7,8,9,10,11]
zipped = zip(xcoors,ycoors)
zippedOne = list(zipped)
print(zippedOne)

[(0, 6), (1, 7), (2, 8), (3, 9), (4, 10), (5, 11)]

In [47]:
xcoors = [0,1,2,3,4,5] 
ycoors = [6,7,8,9,10,11]
zcoors = [99, 98, 97, 96, 95, 94]
zip_list=list(zip(xcoors,ycoors, zcoors))
print(zip_list)

[(0, 6, 99), (1, 7, 98), (2, 8, 97), (3, 9, 96), (4, 10, 95), (5, 11, 94)]

In [49]:
chocage = [(20,8), (33,18), (27,14), (66,23), (90,100)]
unzip_list=list(zip(*chocage))
print(unzip_list)

[(20, 33, 27, 66, 90), (8, 18, 14, 23, 100)]